@using ContentModels = Umbraco.Web.PublishedContentModels;
@using LottoDemo.Entities.Models;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.LotteryGame>

@{
    var ticketBoxSettings = (ViewBag.TicketBoxSettings as TicketBoxSettings);

    string selectNumbersText =
        ticketBoxSettings.BallsCount == 1 ?
            string.Format("Choose {0} number", ticketBoxSettings.BallsCount) :
            string.Format("Choose {0} numbers", ticketBoxSettings.BallsCount);

    string selectBonusNumbersText =
        ticketBoxSettings.BonusBallsCount == 1 ?
            string.Format("Choose {0} number", ticketBoxSettings.BonusBallsCount) :
            string.Format("Choose {0} numbers", ticketBoxSettings.BonusBallsCount);
}

<script type="text/javascript">
    GameTicketSettings = {
        "ballsCount": @ticketBoxSettings.BallsCount,
        "bonusBallsCount": @ticketBoxSettings.BonusBallsCount,
        "minBonusBallNumber": @ticketBoxSettings.BonusBallMin,
        "maxBonusBallNumber": @ticketBoxSettings.BonusBallMax,
        "drawBallMaxNumber": @ticketBoxSettings.GameMaxNumber
    };
</script>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ng-scope">
    <div class="play-block-ticket" id="@ViewData["TicketBoxId"]">
        <div class="item">
            <div class="play-block-heading-pick">
                <div class="right">
                    <div>
                        <div class="play-block-quick-pick" style="border: 1px none;">
                            <button type="button" id="quickPickButton" class="btn btn-quickpick">
                                Quick pick <span data-icon="l" class="icon" id="pick_manual"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="play-block-heading">
                <div class="play-block-heading-text">
                    @selectNumbersText
                </div>
                <div class="right">
                    <div id="pick_remove" style="min-width:20px;">
                        <span data-icon="o" id="icon_0" class="icon" style="cursor: pointer;"></span>
                    </div>
                </div>
            </div>

            <div class="play-block-numbers">
                <div id="play-block-numbers"></div>
                <table>
                    <tbody>
                        @{
                            byte ballNumber = 1;
                            for (byte rowIndex = 1; rowIndex <= ticketBoxSettings.Rows; rowIndex++)
                            {
                                <tr>
                                    @for (byte columnIndex = 1; columnIndex <= ticketBoxSettings.Columns; columnIndex++)
                                    {
                                        if (ballNumber <= ticketBoxSettings.GameMaxNumber)
                                        {
                                            <td class="playNumber drawBallCell">@ballNumber</td>
                                        }
                                        else
                                        {
                                            <td style="border: 1px solid White;">&nbsp;</td>
                                        }
                                        ballNumber++;
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="item">
            <div class="play-block-heading">
                <span class="ng-binding">
                    @selectBonusNumbersText
                </span>
            </div>
            <div class="play-block-numbers">
                <div id="play-block-numbers">
                    <table>
                        <tbody>
                            @{
                                ballNumber = ticketBoxSettings.BonusBallMin;
                                for (byte rowIndex = 1; rowIndex <= ticketBoxSettings.BonusBallsRows; rowIndex++)
                                {
                                    <tr>
                                        @for (byte columnIndex = 1; columnIndex <= ticketBoxSettings.Columns; columnIndex++)
                                        {
                                            if (ballNumber <= ticketBoxSettings.BonusBallMax)
                                            {
                                                <td class="playNumber bonusBallCell">@ballNumber</td>
                                            }
                                            else
                                            {
                                                <td style="border: 1px solid White;">&nbsp;</td>
                                            }
                                            ballNumber++;
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>