@using ContentModels = Umbraco.Web.PublishedContentModels;
@using LottoDemo.Entities.Models.Cart;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.LotteryGame>
@{
    var ShoppingCartItems = (List<LotteryGameCartItem>)ViewBag.ShoppinCartItems;
    double totalPrice = (double)ViewBag.CartTotalPrice;
}
<div>
    <div class="col-lg-12 lastcontentsection">
        <div id="confirm" style="margin-bottom:40px;"></div>
        <div>
            <h4 class="heading-steps">
                <span class="ng-scope"> Step 2</span> - Confirm your entries
            </h4>
            <div id="medium-grey"></div>
        </div>

        <div class="row" id="this_tour_cart_real">
            <div class="col-lg-12">
                <div class="well well-display" style="min-height:200px;">
                    <h4>
                        Cart summary
                    </h4>
                    <div class="claim-info">
                        <div id="cart_summary" class="ng-binding">
                            <div id="shopingCartHolder">
                                <div class="col-lg-12" style="line-height: 38px;">
                                    @if (ShoppingCartItems != null && ShoppingCartItems.Any())
                                    {
                                        foreach (var cartItem in ShoppingCartItems)
                                        {
                                            if (cartItem.Tickets.Any())
                                            {
                                                Html.RenderPartial("GameDetails/_ShoppingCartItemPartial", cartItem);
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <span>Your cart is empty.</span>
                                    }
                                </div>

                                <div>&nbsp;</div>
                                <div class="col-lg-12 right">
                                    <hr class="medium-grey" />
                                    <div>Total outstanding</div>
                                    <span class="total-bold " style="float:none; text-align: right">
                                        € <span id="cartPriceBox" class="myShoppingBaskets">@string.Format("{0:0.00}", totalPrice)</span>
                                    </span>
                                    <hr class="medium-grey" />
                                </div>
                            </div>

                            <div class="buttons pull-right">
                                @using (Html.BeginUmbracoForm("AddToCart", "GameDetails", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("LottoDrawId", (int)ViewBag.LottoDrawId)
                                    @Html.Hidden("DrawBallsTicket1")
                                    @Html.Hidden("DrawBallsTicket2")
                                    @Html.Hidden("DrawBallsTicket3")
                                    @Html.Hidden("BonusBallsTicket1")
                                    @Html.Hidden("BonusBallsTicket2")
                                    @Html.Hidden("BonusBallsTicket3")
                                    <button id="addTicketsToCart" type="submit" class="btn btn-default">
                                        Add to cart
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="more-products" style="margin-top:-40px;"></div>
        <div class="col-lg-12">
            @Model.Content.GameDescription
        </div>
    </div>
</div>