@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>

@{
    var firstCarousel = Umbraco.Content(Umbraco.TypedContent(1249).Children.FirstOrDefault().Id);
    var secondCarousel = Umbraco.Content(Umbraco.TypedContent(1249).Children.Skip(1).FirstOrDefault().Id);

    var firstPage = Umbraco.Content(firstCarousel.PageUrl);
    var secondPage = Umbraco.Content(secondCarousel.PageUrl);
}
<div>
    <div class="container ng-scope" data-ng-controller="carouselCtrl">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-ng-repeat="img in images" class="{active : (img === 0)} ng-scope active" data-slide-to="0"></li>
                <li data-target="#myCarousel" data-ng-repeat="img in images" class="{active : (img === 0)} ng-scope" data-slide-to="1"></li>
            </ol>

            <div class="carousel-inner">

                <div data-ng-repeat="img in images" class="ng-scope item active">
                    <span class="ng-scope">
                        <a href="@secondPage.Url">
                            <img alt="Powerball Jackpot" width="1170" height="400" src="@Umbraco.Media(secondCarousel.BackgroundImage).umbracoFile.src" />
                        </a>
                    </span>
                </div>

                <div data-ng-class="{item: true, active : (img.id === 0)}" data-ng-repeat="img in images" class="ng-scope item">
                    <div data-ng-if="(images.length-1) === $index" class="ng-scope">
                        <div class="jackpot-carousel">

                            <div class="jackpot-lottery-name ng-binding">
                                @firstPage.LotteryName
                            </div>

                            <div class="jackpot-amount">
                                <strong data-ng-bind-html="jackpot_details.currency_symbol" class="ng-binding"></strong> 
                                <span data-ng-bind-html="jackpot_details.jackpot_amount" class="ng-binding">€ @firstPage.Jackpot.ToString("0,0")</span>
                            </div>

                            <div class="jackpot-payout">
                                <span data-ng-if="jackpot_details.cash_payout" class="ng-scope">
                                    cash payout: € <span data-ng-bind-html="jackpot_details.cash_payout" class="ng-binding">@((firstPage.Jackpot * 0.95).ToString("0,0"))</span>
                                </span>
                                <span data-ng-else=""><br/></span>
                            </div>

                            <hr class="banner-hr" />

                            <div style="width:660px;">
                                <span class="date">
                                    Draw date:&nbsp;
                                    <strong>11-02-2017</strong>
                                </span>
                                <br/>

                                <div class="time">
                                    <div data-timer="" data-end-time="1486854000000" class="ng-isolate-scope">
                                        <div class="timer-block ng-scope">
                                            <span class="timer-number ng-binding" data-ng-bind-html="days">0</span><br>
                                            days
                                        </div>
                                        <div class="timer-block ng-scope">
                                            <span class="timer-number ng-binding" data-ng-bind-html="hours">4</span><br>
                                            hours
                                        </div>
                                        <div class="timer-block ng-scope">
                                            <span class="timer-number ng-binding" data-ng-bind-html="minutes">17</span> <br>
                                            minutes
                                        </div>
                                        <div class="timer-block ng-scope">
                                            <span class="timer-number ng-binding" data-ng-bind-html="seconds">38</span><br>
                                            seconds
                                        </div>
                                    </div>
                                    <a href="@firstPage.Url">
                                        <div class="timer-block timer-play">
                                            Play Now
                                        </div>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>

                    <span class="ng-scope">
                        <a href="@firstPage.Url">
                            <img alt="Play The Lottery" width="1170" height="400" src="@Umbraco.Media(firstCarousel.BackgroundImage).umbracoFile.src" />
                        </a>
                    </span>
                </div>

            </div>

            <a class="left carousel-control home-slider" href="#myCarousel" role="button" id="left-home-slider" data-icon="u" data-slide="prev"></a>
            <a class="right carousel-control home-slider" href="#myCarousel" role="button" id="right-home-slider" data-icon="w" data-slide="next"></a>
        </div>
    </div>
</div>