@using LottoDemo.Entities.Models.ResultsAndWinnings;
@model LottoDrawResult
@if (Model != null)
{
    <div id="drawStatistics">
        <div>
            <span>@ViewBag.DrawTimeLabel</span>
            <span>@Model.DrawDate.ToString("dd MMM yyyy (dddd) HH:mm:ss", System.Globalization.CultureInfo.InstalledUICulture)</span>
        </div>
        <div class="ballset-wrap spacingFixOne">
            @foreach (var ball in Model.BallsBumbers)
            {
                <div class="entryNumber ballSet2">@ball</div>
            }
            @foreach (var ball in Model.BonusBallsNumbers)
            {
                <div class="entryNumber ballSet3 bonusBall">@ball</div>
            }
        </div>
    </div>

    <table>
        <tbody id="winningsStatistics">
            @foreach (var tier in Model.WinningTiers)
            {
                <tr class="rowColour ng-scope">
                    <td class="wnum ng-binding">@tier.TierName</td>
                    <td class="wnum ng-binding ng-scope">@tier.NumberOfWinners</td>
                    <td class="wnum ng-binding ng-scope" nowrap="nowrap">€ @tier.WinningPerPerson.ToString("0,0.00")</td>
                </tr>
            }
        </tbody>
    </table>
}