@using ContentModels = Umbraco.Web.PublishedContentModels;

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.LotteryGame>

@{ Layout = "BaseTemplate.cshtml"; }

@section head
{
    <script src="~/Scripts/custom/single-ticket-box.js"></script>
}

<div class="col-lg-12">
    <div class="row">
        <div class="twoColWrapper ng-scope" data-ng-app="playApp" data-ng-controller="playCtrl" style="background-color: #fff">
            <input type="hidden" name="culture" id="culture" value="en">
            <div class="playpage">
                <div class="container">
                    @*<div class="col-lg-12 progress-steps">
                        <div class="wizard">
                            <a href="/" class="current">Add entries</a>
                            <a>Order summary</a>
                            <a>Payment</a>
                            <a>Order complete</a>
                        </div>
                    </div>
                    <br />*@
                    <!-- Page Top Header -->
                    <div class="col-lg-12 grey-bg lotto-logo-holder">

                        <div class="grey-contain">
                            <div class="col-lg-4 col-sm-4 col-xs-12 lotto-logo">
                                <a href="@Model.Content.Url" title="@Model.Content.LotteryName">
                                    <img border="0" style="width: 200px;" class="playlottologo"
                                         src="@Umbraco.Media(Model.Content.LotteryLogo).umbracoFile.src" alt="@Model.Content.LotteryName">
                                </a>
                            </div>

                            <div class="col-lg-4 col-sm-4 col-xs-12 center">
                                <div id="usage"></div>
                                <h1>@Model.Content.LotteryName<br></h1>
                                <!-- ngIf: selectedJackpot == 'double' -->
                                <!-- ngIf: selectedJackpot == 'normal' -->
                                <span class="jackpottypes ng-scope" data-ng-if="selectedJackpot == &#39;normal&#39;">
                                    <!-- ngIf: has_super_star --><br>
                                    <span> Jackpot </span>
                                </span><!-- end ngIf: selectedJackpot == 'normal' -->
                                <br>
                                <div>
                                    <!-- ngIf: !double_jackpot_amount -->
                                    <!-- ngIf: double_jackpot_amount -->
                                    <div data-ng-if="double_jackpot_amount" class="ng-scope">
                                        <!-- ngIf: selectedJackpot == 'double' -->
                                    </div>
                                    <!-- end ngIf: double_jackpot_amount -->
                                    <!-- ngIf: !jackpot_amount -->
                                    <!-- ngIf: jackpot_amount -->
                                    <div data-ng-if="jackpot_amount" class="ng-scope">
                                        <!-- ngIf: selectedJackpot == 'normal' -->
                                        <span class="jackpotamounts ng-binding ng-scope" data-ng-if="selectedJackpot == &#39;normal&#39;" ng-bind-html="jackpot_amount">
                                            USD 70 000 000
                                        </span>
                                        <!-- end ngIf: selectedJackpot == 'normal' -->
                                    </div><!-- end ngIf: jackpot_amount -->
                                </div>
                                <br>
                                <span class="jackpotamounts_small">
                                    <span style="font-size:18px;">
                                        Cost per entry - <strong>
                                            €4.80
                                        </strong>
                                    </span>
                                </span>
                            </div>

                            <div class="col-lg-4 col-sm-4 col-xs-12 right">
                                <div id="timer"></div>
                                <div class="timer-wrapper" style="width: 298px; padding-top:30px;">
                                    <div class="angular-my-timer-date ng-binding" ng-bind-html="next_draw_date">15 Apr 2017 (Saturday)</div>
                                    <div>
                                        <div data-timer="" data-end-time="1492293600000" class="ng-isolate-scope">
                                            <div class="angular-my-timer ng-scope"><span ng-bind-html="days" class="ng-binding">0</span><br>days</div>
                                            <div class="angular-my-timer ng-scope"><span ng-bind-html="hours" class="ng-binding">4</span><br>hours</div>
                                            <div class="angular-my-timer ng-scope"><span ng-bind-html="minutes" class="ng-binding">5</span><br>minutes</div>
                                            <div class="angular-my-timer ng-scope"><span ng-bind-html="seconds" class="ng-binding">1</span><br>seconds</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- // End - Steps Process Section // -->

                <div id="removed"></div>
                <!-- ngIf: has_double_jackpot == true -->

                <div class="container play-step-one">
                    <div class="col-lg-12">
                        <div id="step1"></div>

                        <h4 class="heading-steps">
                            <!-- ngIf: has_double_jackpot == true -->
                            <!-- ngIf: has_double_jackpot == false --><span data-ng-if="has_double_jackpot == false" class="ng-scope">Step 1</span><!-- end ngIf: has_double_jackpot == false -->
                            - Quick pick or select your numbers
                        </h4>

                        <div id="demo">
                            <input type="hidden" name="lottery_id" id="lottery_id" value="4" data-ng-model="lottery_id" class="ng-pristine ng-valid" />
                            <input type="hidden" name="init_calendar_date" id="init_calendar_date" value="2017-04-15" data-ng-model="init_calendar_date" class="ng-pristine ng-valid" />

                            <div class="col-lg-12 bordered manuallywrap" id="play-block" style="padding-top: 14px;">
                                <div id="manual"></div>
                                <h4 class="center">
                                    <span>Manually select your numbers</span>
                                </h4>

                                <div class="mobile_swipe">
                                    <img class="swipe_arrows" src="./MakeABetPage_files/leftswipe.svg" alt="Leftswipe" />
                                    Swipe to play more tickets
                                    <img class="swipe_arrows" src="./MakeABetPage_files/rightswipe.svg" alt="Rightswipe" />
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div>
                                            <ul data-rn-carousel="" data-rn-carousel-control="" class="my-slider rn-carousel-slides ng-scope" style="transform: translate3d(0px, 0px, 0px);">
                                                <li class="carousel-wrap rn-carousel-slide ng-scope" style="display: block;">
                                                    @{
                                                        Html.RenderPartial("GameDetails/_GameTicketBlank");
                                                        Html.RenderPartial("GameDetails/_GameTicketBlank");
                                                        Html.RenderPartial("GameDetails/_GameTicketBlank");
                                                    }
                                                </li>
                                                <li class="carousel-wrap rn-carousel-slide ng-scope" style="display: block;">
                                                    <div class="col-lg-12" style="height: 14px;"> </div>
                                                    @{
                                                        Html.RenderPartial("GameDetails/_GameTicketBlank");
                                                        Html.RenderPartial("GameDetails/_GameTicketBlank");
                                                        Html.RenderPartial("GameDetails/_GameTicketBlank");
                                                    }
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div id="subscription" style="display:none">
                                        <div id="selected_span" style="padding-top:30px;"></div>
                                        <div class="alert alert-info" style="min-height:200px; background-color: #E2E2E2; color: #666">
                                            <h4>
                                                Select your span  <span data-ng-show="loadingX" id="loadingX" class="ng-hide">
                                                    <img src="./MakeABetPage_files/fluid_dg-loader.gif" alt="Fluid_dg-loader" />
                                                </span>
                                            </h4>

                                            <form class="form-inline ng-pristine ng-valid" role="form">
                                                <div class="col-md-12">
                                                    <div class="col-md-5">
                                                        <div>
                                                            Starting
                                                        </div>
                                                        <div class="form-group">
                                                            <select style="font-size:14px;" data-ng-model="calendar_date" data-ng-options="key as lottery_draw_date for (key, lottery_draw_date) in lottery_calendar_dates" data-ng-change="checkIfSuperDrawManual();" class="ng-pristine ng-valid"><!-- ngIf: false --><option value="2017-04-15">15 Apr 2017 (Saturday)</option><option value="2017-04-19">19 Apr 2017 (Wednesday)</option><option value="2017-04-22">22 Apr 2017 (Saturday)</option><option value="2017-04-26">26 Apr 2017 (Wednesday)</option><option value="2017-04-29">29 Apr 2017 (Saturday)</option><option value="2017-05-03">3 May 2017 (Wednesday)</option><option value="2017-05-06">6 May 2017 (Saturday)</option><option value="2017-05-10">10 May 2017 (Wednesday)</option><option value="2017-05-13">13 May 2017 (Saturday)</option><option value="2017-05-17">17 May 2017 (Wednesday)</option><option value="2017-05-20">20 May 2017 (Saturday)</option><option value="2017-05-24">24 May 2017 (Wednesday)</option><option value="2017-05-27">27 May 2017 (Saturday)</option><option value="2017-05-31">31 May 2017 (Wednesday)</option><option value="2017-06-03">3 Jun 2017 (Saturday)</option><option value="2017-06-07">7 Jun 2017 (Wednesday)</option><option value="2017-06-10">10 Jun 2017 (Saturday)</option><option value="2017-06-14">14 Jun 2017 (Wednesday)</option><option value="2017-06-17">17 Jun 2017 (Saturday)</option><option value="2017-06-21">21 Jun 2017 (Wednesday)</option><option value="2017-06-24">24 Jun 2017 (Saturday)</option><option value="2017-06-28">28 Jun 2017 (Wednesday)</option><option value="2017-07-01">1 Jul 2017 (Saturday)</option><option value="2017-07-05">5 Jul 2017 (Wednesday)</option><option value="2017-07-08">8 Jul 2017 (Saturday)</option><option value="2017-07-12">12 Jul 2017 (Wednesday)</option><option value="2017-07-15">15 Jul 2017 (Saturday)</option><option value="2017-07-19">19 Jul 2017 (Wednesday)</option><option value="2017-07-22">22 Jul 2017 (Saturday)</option><option value="2017-07-26">26 Jul 2017 (Wednesday)</option><option value="2017-07-29">29 Jul 2017 (Saturday)</option><option value="2017-08-02">2 Aug 2017 (Wednesday)</option><option value="2017-08-05">5 Aug 2017 (Saturday)</option><option value="2017-08-09">9 Aug 2017 (Wednesday)</option><option value="2017-08-12">12 Aug 2017 (Saturday)</option><option value="2017-08-16">16 Aug 2017 (Wednesday)</option><option value="2017-08-19">19 Aug 2017 (Saturday)</option><option value="2017-08-23">23 Aug 2017 (Wednesday)</option><option value="2017-08-26">26 Aug 2017 (Saturday)</option><option value="2017-08-30">30 Aug 2017 (Wednesday)</option><option value="2017-09-02">2 Sep 2017 (Saturday)</option><option value="2017-09-06">6 Sep 2017 (Wednesday)</option><option value="2017-09-09">9 Sep 2017 (Saturday)</option><option value="2017-09-13">13 Sep 2017 (Wednesday)</option><option value="2017-09-16">16 Sep 2017 (Saturday)</option><option value="2017-09-20">20 Sep 2017 (Wednesday)</option><option value="2017-09-23">23 Sep 2017 (Saturday)</option><option value="2017-09-27">27 Sep 2017 (Wednesday)</option><option value="2017-09-30">30 Sep 2017 (Saturday)</option><option value="2017-10-04">4 Oct 2017 (Wednesday)</option><option value="2017-10-07">7 Oct 2017 (Saturday)</option><option value="2017-10-11">11 Oct 2017 (Wednesday)</option><option value="2017-10-14">14 Oct 2017 (Saturday)</option><option value="2017-10-18">18 Oct 2017 (Wednesday)</option><option value="2017-10-21">21 Oct 2017 (Saturday)</option><option value="2017-10-25">25 Oct 2017 (Wednesday)</option><option value="2017-10-28">28 Oct 2017 (Saturday)</option><option value="2017-11-01">1 Nov 2017 (Wednesday)</option><option value="2017-11-04">4 Nov 2017 (Saturday)</option><option value="2017-11-08">8 Nov 2017 (Wednesday)</option><option value="2017-11-11">11 Nov 2017 (Saturday)</option><option value="2017-11-15">15 Nov 2017 (Wednesday)</option><option value="2017-11-18">18 Nov 2017 (Saturday)</option><option value="2017-11-22">22 Nov 2017 (Wednesday)</option><option value="2017-11-25">25 Nov 2017 (Saturday)</option><option value="2017-11-29">29 Nov 2017 (Wednesday)</option><option value="2017-12-02">2 Dec 2017 (Saturday)</option><option value="2017-12-06">6 Dec 2017 (Wednesday)</option><option value="2017-12-09">9 Dec 2017 (Saturday)</option><option value="2017-12-13">13 Dec 2017 (Wednesday)</option><option value="2017-12-16">16 Dec 2017 (Saturday)</option><option value="2017-12-20">20 Dec 2017 (Wednesday)</option><option value="2017-12-23">23 Dec 2017 (Saturday)</option><option value="2017-12-27">27 Dec 2017 (Wednesday)</option><option value="2017-12-30">30 Dec 2017 (Saturday)</option><option value="2018-01-03">3 Jan 2018 (Wednesday)</option><option value="2018-01-06">6 Jan 2018 (Saturday)</option><option value="2018-01-10">10 Jan 2018 (Wednesday)</option><option value="2018-01-13">13 Jan 2018 (Saturday)</option><option value="2018-01-17">17 Jan 2018 (Wednesday)</option><option value="2018-01-20">20 Jan 2018 (Saturday)</option><option value="2018-01-24">24 Jan 2018 (Wednesday)</option><option value="2018-01-27">27 Jan 2018 (Saturday)</option><option value="2018-01-31">31 Jan 2018 (Wednesday)</option><option value="2018-02-03">3 Feb 2018 (Saturday)</option><option value="2018-02-07">7 Feb 2018 (Wednesday)</option><option value="2018-02-10">10 Feb 2018 (Saturday)</option><option value="2018-02-14">14 Feb 2018 (Wednesday)</option><option value="2018-02-17">17 Feb 2018 (Saturday)</option><option value="2018-02-21">21 Feb 2018 (Wednesday)</option><option value="2018-02-24">24 Feb 2018 (Saturday)</option><option value="2018-02-28">28 Feb 2018 (Wednesday)</option><option value="2018-03-03">3 Mar 2018 (Saturday)</option><option value="2018-03-07">7 Mar 2018 (Wednesday)</option><option value="2018-03-10">10 Mar 2018 (Saturday)</option><option value="2018-03-14">14 Mar 2018 (Wednesday)</option><option value="2018-03-17">17 Mar 2018 (Saturday)</option><option value="2018-03-21">21 Mar 2018 (Wednesday)</option><option value="2018-03-24">24 Mar 2018 (Saturday)</option><option value="2018-03-28">28 Mar 2018 (Wednesday)</option><option value="2018-03-31">31 Mar 2018 (Saturday)</option><option value="2018-04-04">4 Apr 2018 (Wednesday)</option><option value="2018-04-07">7 Apr 2018 (Saturday)</option><option value="2018-04-11">11 Apr 2018 (Wednesday)</option><option value="2018-04-14">14 Apr 2018 (Saturday)</option></select>
                                                        </div>
                                                        <div class="form-group small">
                                                            <input type="number" data-ng-model="number_of_draws" class="form-control draw float-left ng-pristine ng-valid ng-valid-number ng-valid-min" style="font-size:14px;" placeholder="" min="1" data-ng-change="loadOccurrance();">
                                                            draw(s)
                                                            <div id="span_select"></div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-7">
                                                        <div data-ng-show="showOccurance" class="ng-hide">
                                                            <div style="padding-bottom:10px;">
                                                                Occurring
                                                            </div>
                                                            <div class="form-group">
                                                                <select title="Occuring" data-ng-class="playSelect" data-ng-model="occurance" class="form-control float-left ng-pristine ng-valid" data-ng-change="loadOccurrance();" style="font-size:14px;">
                                                                    <option value="ALL">Every draw</option>
                                                                    <option value="6">Wednesdays</option>
                                                                    <option value="7">Saturdays</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                        <!--<div id="alert" class="alert alert-danger pull-right" style="display:none">-->
                                        <!--    --><!--</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div>
                    <div class="col-lg-12 lastcontentsection">
                        <div id="confirm" style="margin-bottom:40px;"></div>

                        <div>
                            <h4 class="heading-steps">
                                <!-- ngIf: has_double_jackpot == true -->
                                <!-- ngIf: has_double_jackpot == false --><span data-ng-if="has_double_jackpot == false" class="ng-scope"> Step 2</span><!-- end ngIf: has_double_jackpot == false -->
                                - Confirm your entries
                            </h4>
                            <div id="medium-grey"></div>
                        </div>
                        <div class="row" id="real_entries">
                            <!-- ngIf: number_of_tickets > 0 -->
                        </div>
                        <div class="row" id="this_tour_hidden" style="display:none">
                            <div class="col-lg-12">
                                <div class="well well-display">
                                    <div id="this_tour" style="width:500px;"></div>
                                    <h4>Tour entries summary</h4>
                                    <div class="claim-info">
                                        <!-- ngIf: selectedJackpot != 'double' --><div data-ng-if="selectedJackpot != &#39;double&#39;" class="ng-scope">
                                            1 x Powerball entries
                                        </div><!-- end ngIf: selectedJackpot != 'double' -->
                                    </div>
                                    <div class="buttons pull-right" id="this_tour_button">
                                        <button type="button" class="btn btn-default">
                                            Add to cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="this_tour_cart_hidden" style="display:none">
                            <div class="col-lg-12">
                                <div class="well well-display">
                                    <div id="this_tour_cart" style="width:500px;"></div>
                                    <h4>Tour cart summary</h4>
                                    <div class="claim-info">
                                        <!-- ngIf: selectedJackpot != 'double' --><div data-ng-if="selectedJackpot != &#39;double&#39;" class="ng-scope">
                                            1 x Powerball entries
                                        </div><!-- end ngIf: selectedJackpot != 'double' -->
                                    </div>
                                    <div class="buttons pull-right" id="this_tour_cart_button">
                                        <button data-ng-model="add_to_cart" type="button" class="btn btn-default ng-pristine ng-valid">
                                            Checkout
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="this_tour_cart_real">
                            <div class="col-lg-12">
                                <div class="well well-display" style="min-height:200px;">
                                    <h4>
                                        <span data-ng-show="loading" class="ng-hide"><img src="./MakeABetPage_files/fluid_dg-loader.gif" alt="Fluid_dg-loader">  </span>
                                        Cart summary
                                    </h4>
                                    <div class="claim-info">
                                        <div data-ng-show="!loading &amp;&amp; showDuplicatesEntryAlert" class="ng-hide">
                                            <span class="alert alert-danger">Please check for duplicate or empty entry lines in your basket before you proceed.</span>
                                        </div>
                                        <div data-ng-show="!loading" class="">
                                            <div id="cart_summary" data-ng-bind-html="basket | sanitize" class="ng-binding">
                                                <div id="cart_summary">
                                                    Your cart is empty.
                                                </div>
                                                <div class="col-lg-12 right">
                                                    <hr class="medium-grey">
                                                    Total outstanding<br>
                                                    <span class="total-bold " style="float:none; text-align: right">
                                                        € <span class=" myShoppingBaskets">0.00</span>
                                                    </span>
                                                    <hr class="medium-grey">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="more-products" style="margin-top:-40px;"></div>

                        <div class="col-lg-12">
                            @Model.Content.GameDescription
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br><br>
</div>