@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ var selection = CurrentPage.Site().Children.Where("Visible"); }

@*Renders the website top blue bar*@
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" id="open-left" class="navbar-toggle hidden-md hidden-lg" data-toggle="" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-lg hidden-md" href="/"><img width="200" height="27" alt="http://lottodemo-dev.zb.local/" src="~/Content/Images/en.svg"></a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                @{
                    var home = CurrentPage.AncestorOrSelf(1);
                    foreach (var page in home.Children.Where("showInMainNavigation"))
                    {
                        <li class="display-smart"><a href="@page.Url">@page.navigationTitle</a></li>
                    }
                }
                <li class="display-smart"><hr class="hr-navbar display-smart"></li>

                @if (!this.Members.IsLoggedIn())
                {
                    <li class="nodrop">
                        <span data-icon="y" class="nav-icon"></span>
                        <a id="Login" data-toggle="modal" data-target="#myModal" href="#"> @Umbraco.GetDictionaryValue("LoginMenuItemText")</a>
                    </li>
                    <li class="nodrop">
                        <span data-icon="D" class="nav-icon"></span>
                        <a class="access" data-toggle="modal" data-target="#myModal" href="#"> @Umbraco.GetDictionaryValue("RegisterMenuItemText")</a>
                    </li>
                }

                @if (this.Members.IsLoggedIn())
                {
                    <li class="dropdown menu-large hidden-sm hidden-md">
                        <span data-icon="a" class="nav-icon"></span>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> @Umbraco.GetDictionaryValue("WelcomeMenuItemText"), <span data-icon="D" class="smaller-icon"></span> @Members.GetCurrentMember().Name (€ 0.00) </a>
                        <ul class="dropdown-menu megamenu row" style="display: none; opacity: 1;">
                            <li>
                                <div class="container">
                                    <div class="content masterContent">
                                        <div class="megamenu-wrap">
                                            <!-- Funds section -->
                                            <div class="col-sm-3 center profile-block-wrap">
                                                <div class="profile-block-wrap">
                                                    <a class="totalcost-nav" href="https://www.playusalotteries.com/en/balance.html">€ 0.00</a>
                                                    <br />
                                                    <input class="nopad" value="Deposit funds" type="button" onclick="">
                                                    <br />
                                                </div>
                                            </div>
                                            <!-- Funds section -->
                                            <!-- LottoPoints section -->
                                            <div class="col-sm-3 profile-block-wrap">
                                                <div class="profile-block-wrap">
                                                    <strong>LottoPoints</strong>
                                                    <br />
                                                    <a href="https://www.playusalotteries.com/en/lottopoints/points.html"><b>100 lottopoints</b></a>
                                                    <br />
                                                    <strong>650</strong> away from  <strong>Silver</strong>
                                                    <br /><br />
                                                    <input class="nopad" value="Learn more about Lottopoints" type="button" onclick="">
                                                </div>
                                            </div>
                                            <!-- LottoPoints section -->
                                            <!-- Winning section -->
                                            <div class="col-sm-3 profile-block-wrap">
                                                <div class="profile-block-wrap">
                                                    <strong><a href="https://www.playusalotteries.com/en/balance.html">Unclaimed winnings</a></strong>
                                                    <br />
                                                    <a href="https://www.playusalotteries.com/en/balance.html"><span class="winnings-nav">€ 0.00</span></a>
                                                    <br /><br />
                                                    <strong><a href="https://www.playusalotteries.com/en/balance.html">Unclaimed refunded winnings</a></strong>
                                                    <br />
                                                    <span class="winnings-nav">€ 0.00</span>
                                                    <br />
                                                </div>
                                            </div>
                                            <!-- Winning section -->
                                            <!-- Vouchers section -->
                                            <div class="col-sm-3">
                                                <div class="profile-block-wrap">
                                                    <strong>Vouchers</strong>
                                                    <br />
                                                </div>
                                            </div>
                                            <!-- Vouchers section -->
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown menu-large">
                        <span data-icon="c" class="nav-icon"></span>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> @Umbraco.GetDictionaryValue("MyAccountMenuItemText")</a>
                        <ul class="dropdown-menu megamenu row" style="display: none; opacity: 1;">
                            <li>
                                <div class="container">
                                    <div class="content masterContent">
                                        <div class="megamenu-wrap">
                                            <div class="col-sm-3">
                                                <a href="https://www.playusalotteries.com/en/balance.html">Account balance</a><br>
                                                <a href="https://www.playusalotteries.com/en/mydetails.html">Account details</a><br>
                                                <a href="https://www.playusalotteries.com/en/notifications.html">Notifications</a><br>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="https://www.playusalotteries.com/en/creditcard.html">Saved cards</a><br>
                                                <a href="https://www.playusalotteries.com/en/results-and-winnings.html">Results and Entries</a><br>
                                                <a href="https://www.playusalotteries.com/en/transaction/history.html">Transaction history</a><br>
                                            </div>
                                            <div class="col-sm-3">
                                                <strong><a href="https://www.playusalotteries.com/en/deposit/funds.html?force=1">Deposit funds (New)</a></strong><br>
                                                <a href="https://www.playusalotteries.com/en/special-offers.html">Current Special Offers</a><br>
                                                <a href="https://www.playusalotteries.com/en/voucher.html">Promotion code</a><br>
                                            </div>
                                            <div class="col-sm-3">
                                                <!--                --><!--<br>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                }

                <li class="dropdown menu-large">
                    <span data-icon="n" class="nav-icon"></span>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> @Umbraco.GetDictionaryValue("CartMenuItemText") ( <span class="cart_counter" id="cart_counter">0</span> )</a>
                    <ul class="dropdown-menu megamenu row">
                        <li>
                            <div class="container">
                                <div id="myShoppingBasket" class="myShoppingBasket basket playusalotteries">
                                    <div class="megamenu-wrap">
                                        <div class="col-md-7">
                                            @Umbraco.GetDictionaryValue("CartEmptyText")
                                        </div>
                                        <div class="col-md-5">
                                            <div class="right">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                @if (this.Members.IsLoggedIn())
                {
                    <li class="nodrop"><a href="@Url.Action("Logout", "MemberLogin")"> @Umbraco.GetDictionaryValue("LogoutMenuItemText")</a></li>
                }

            </ul>
        </div>
    </div>
</div>   