@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="container">
    <div id="topRow">

        <div class="container LogoWrapper hidden-xs">
            <div class="col-lg-6 col-sm-6">
                <div class="gohome">
                    <a href="/"><img src="~/images/logo.png" alt="Logo" style="height: 100px;" /></a>
                    <div class="strap" style="margin-left: 100px;"> Providing secure ticket purchasing services since 2017. </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6" style="height: 60px;"><div>&nbsp;</div></div>
        </div>

        @{ var home = CurrentPage.AncestorOrSelf(1); }
        <div class="container navbar-main hidden-smart">
            <div id="mainNav">
                <ul class="nav navbar-nav">
                    <li><a class="@(CurrentPage.IsAncestorOrSelf(home) ? "active" : null)" href="/"><span data-icon="e" class="icon"></span></a></li>
                    @{
                        string cssClass = null;
                        foreach (var page in home.Children.Where("showInMainNavigation"))
                        {
                            cssClass = null;
                            if (page.IsAncestorOrSelf(CurrentPage))
                            {
                                cssClass = "active";
                            }
                            <li class="@(page.Name == "Play now" ? "playnow" : null)"><a class="@cssClass" href="@page.Url">@page.navigationTitle</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>