@using ContentModels = Umbraco.Web.PublishedContentModels;
@using LottoDemo.Entities.Models.User;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.UserEntriesPage>
@{
    List<UserTicketHistory> GameTickets = (List<UserTicketHistory>)ViewBag.GameTickets;
}
<div id="lottery_entries_23" style="">
    <table class="table table-striped ">
        <thead>
            <tr>
                <td>Лотариини числа</td>
                <td style="text-align: center;">Дата на теглене</td>
                <td style="text-align: center;">Печеливш</td>
                <td style="text-align: center;">Печалба</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in GameTickets)
            {
                <tr>
                    <td>
                        <div class="ballset-wrap">
                            @foreach (byte ballNumber in ticket.BallNumbers)
                            {
                                <div class="entryNumber ballSet48">@ballNumber</div>
                            }
                            @foreach (byte ballNumber in ticket.BonusBallNumbers)
                            {
                                <div class="entryNumber ballSet49">@ballNumber</div>
                            }
                        </div>
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @ticket.DrawTime.ToString("dd MMM yyyy HH:mm")
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @(ticket.IsWinning ? "Да" : "Не")
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @ticket.ProfitLost EUR
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

